In [1]:
#!pip install pygwalker

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pygwalker as pyg
os.chdir('D:\\Datasets')

In [3]:
tiktok = pd.read_csv('tiktok_dataset.csv')

In [4]:
#Number of rows and columns in the dataset
tiktok.shape

(19382, 12)

In [5]:
tiktok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

In [6]:
tiktok.describe(include= 'all')

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,19084,1.938200e+04,19382.000000,19084,19382,19382,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
unique,NaN,2,NaN,NaN,19012,2,3,NaN,NaN,NaN,NaN,NaN
top,NaN,claim,NaN,NaN,a friend read in the media a claim that badmi...,not verified,active,NaN,NaN,NaN,NaN,NaN
freq,NaN,9608,NaN,NaN,2,18142,15663,NaN,NaN,NaN,NaN,NaN
mean,9691.500000,NaN,5.627454e+09,32.421732,NaN,NaN,NaN,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,NaN,2.536440e+09,16.229967,NaN,NaN,NaN,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,NaN,1.234959e+09,5.000000,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,NaN,3.430417e+09,18.000000,NaN,NaN,NaN,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,NaN,5.618664e+09,32.000000,NaN,NaN,NaN,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,NaN,7.843960e+09,47.000000,NaN,NaN,NaN,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,NaN,9.999873e+09,60.000000,NaN,NaN,NaN,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

In [7]:
#hecking for missing values
tiktok.isnull().sum()

#                             0
claim_status                298
video_id                      0
video_duration_sec            0
video_transcription_text    298
verified_status               0
author_ban_status             0
video_view_count            298
video_like_count            298
video_share_count           298
video_download_count        298
video_comment_count         298
dtype: int64

In [8]:
#Removed all missing values
tiktok.dropna(axis = 0, inplace = True)

In [9]:
#Verifyig if all null values are removed
tiktok.isnull().sum()

#                           0
claim_status                0
video_id                    0
video_duration_sec          0
video_transcription_text    0
verified_status             0
author_ban_status           0
video_view_count            0
video_like_count            0
video_share_count           0
video_download_count        0
video_comment_count         0
dtype: int64

In [10]:
tiktok.shape

(19084, 12)

In [11]:
tiktok.dtypes

#                             int64
claim_status                 object
video_id                      int64
video_duration_sec            int64
video_transcription_text     object
verified_status              object
author_ban_status            object
video_view_count            float64
video_like_count            float64
video_share_count           float64
video_download_count        float64
video_comment_count         float64
dtype: object

# Data Preprocessing

In [12]:
# LowerCasing
tiktok['video_transcription_text'] = tiktok['video_transcription_text'].str.lower()

In [13]:
tiktok['video_transcription_text'][0]

'someone shared with me that drone deliveries are already happening and will become common by 2025'

In [14]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [15]:
sia = SentimentIntensityAnalyzer()

def get_sentiment(x):
    return sia.polarity_scores(x)

In [16]:
tiktok['sentiment_score'] = tiktok['video_transcription_text'].apply(lambda x : get_sentiment(x))

In [17]:
def get_sentiment(x):
    if x.get('compound') > 0:
        return 'positive'
    elif x.get('compound') < 0:
        return 'negative'
    else:
        return 'neutral'

In [18]:
tiktok['video_text_sentiment'] = tiktok['sentiment_score'].apply(lambda x : get_sentiment(x))

In [19]:
tiktok.head(2)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count,sentiment_score,video_text_sentiment
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0,"{'neg': 0.0, 'neu': 0.862, 'pos': 0.138, 'comp...",positive
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0,"{'neg': 0.0, 'neu': 0.825, 'pos': 0.175, 'comp...",positive

In [20]:
# Is there any relation between Video_like_count and video_text_sentiment. If exists what is it??
# then we have to find out the relation between sentiment score and if the text is positive how much positive and does it have any effect on video view count, like count, share count etc.

In [21]:
import nltk
from nltk import RegexpTokenizer
from nltk.util import ngrams
from collections import Counter
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [27]:
# If you want to bi-gram alomg with there count the uncomment the bigram count line and return the bigram_counts insted of flattened_bigrams.

def generate_bigrams(text_column):
    
    word_token = RegexpTokenizer(r'\w+')
    lemmatizer = WordNetLemmatizer()

    stop_words = set(stopwords.words('english'))

    tokenized_texts = [word_token.tokenize(text.lower()) for text in text_column]
    lemmatized_texts = [[lemmatizer.lemmatize(word) for word in text if word not in stop_words] for text in tokenized_texts]
   
    bigrams = [list(ngrams(text, 2)) for text in lemmatized_texts]
   
    flattened_bigrams = [bigram for sublist in bigrams for bigram in sublist]

    #bigram_counts = Counter(flattened_bigrams)

    return flattened_bigrams



# Use below function if you return the bigram_counts from generate_bigrams() function

#def bigram_to_dataframe(bigram,colnames):
#    return pd.DataFrame([(edge[0],edge[1],weight) for edge,weight in bigram.items()],columns=colnames)



# Use below fuction if you return the flattened_bigrams from generate_bigrams() function

def bigram_to_dataframe(bigram,colnames):
    return pd.DataFrame([(edge[0],edge[1]) for edge in bigram],columns=colnames)

In [30]:
tiktok.head()

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count,sentiment_score,video_text_sentiment
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0,"{'neg': 0.0, 'neu': 0.862, 'pos': 0.138, 'comp...",positive
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0,"{'neg': 0.0, 'neu': 0.825, 'pos': 0.175, 'comp...",positive
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0,"{'neg': 0.0, 'neu': 0.754, 'pos': 0.246, 'comp...",positive
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0,"{'neg': 0.0, 'neu': 0.906, 'pos': 0.094, 'comp...",positive
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0,"{'neg': 0.0, 'neu': 0.844, 'pos': 0.156, 'comp...",positive

In [31]:
tiktok['verified_status'].value_counts()

verified_status
not verified    17884
verified         1200
Name: count, dtype: int64

In [33]:
tiktok_verified = tiktok[tiktok['verified_status'] == 'verified']

In [36]:
tiktok_not_verified = tiktok[tiktok['verified_status'] == 'not verified']

In [39]:
bigram_to_dataframe(generate_bigrams(tiktok_not_verified['video_transcription_text']),['Node1','Node2']).to_csv('tiktok_network_not_verified.csv',index=False)